<?xml version="1.0"?>

<robot name="pointfoot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>

    <!-- simplified collision value -->
    <xacro:property name="base_width" value="0.26"/> 
    <xacro:property name="base_length" value="0.25"/>
    <xacro:property name="base_height" value="0.18"/>
    <xacro:property name="abad_radius" value="0.05"/>
    <xacro:property name="abad_length" value="0.035"/>
    <xacro:property name="hip_radius" value="0.018"/>
    <xacro:property name="hip_length" value="0.15"/>
    <xacro:property name="calf_radius" value="0.03"/>
    <xacro:property name="calf_length" value="0.26"/>
    <xacro:property name="foot_radius" value="0.032"/>

    <!-- kinematic value -->
    <!-- abad offset from base frame value -->
    <xacro:property name="abad_offset_x" value="0.039"/>
    <xacro:property name="abad_offset_y" value="0.105"/>
    <xacro:property name="abad_offset_z" value="-0.08725"/>
    <!-- hip offset from abad frame value -->
    <xacro:property name="hip_offset_x" value="-0.077"/>
    <xacro:property name="hip_offset_y" value="0.02050"/>
    <xacro:property name="hip_offset_z" value="0.0"/>
    <!-- knee offset from abad frame value -->
    <xacro:property name="knee_offset_x" value="-0.1500"/>
    <xacro:property name="knee_offset_y" value="-0.02050"/>
    <xacro:property name="knee_offset_z" value="-0.25981"/>
    <!-- foot offset from abad frame value -->
    <xacro:property name="foot_offset_x" value="0.14929"/>
    <xacro:property name="foot_offset_y" value="0.0"/>
    <xacro:property name="foot_offset_z" value="-0.2598"/>
    <!-- contact offset from abad frame value -->
    <xacro:property name="contact_offset_x" value="0.0"/>
    <xacro:property name="contact_offset_y" value="0.0"/>
    <xacro:property name="contact_offset_z" value="-0.032"/>

    <!-- joint limits -->
    <!-- <xacro:property name="damping" value="0"/> -->
    <!-- <xacro:property name="friction" value="0"/> -->
    <xacro:property name="damping" value="0.0"/>
    <xacro:property name="friction" value="0.0"/>
    <xacro:property name="abad_max" value="80"/>
    <xacro:property name="abad_min" value="-22"/>
    <xacro:property name="abad_velocity_max" value="15"/>
    <xacro:property name="abad_torque_max" value="80"/>
    <xacro:property name="hip_max" value="80"/>
    <xacro:property name="hip_min" value="-58"/>
    <xacro:property name="hip_velocity_max" value="15"/>
    <xacro:property name="hip_torque_max" value="80"/>
    <xacro:property name="knee_max" value="78"/>
    <xacro:property name="knee_min" value="-50"/>
    <xacro:property name="knee_velocity_max" value="15"/>
    <xacro:property name="knee_torque_max" value="80"/>

    <!-- dynamics inertial value        total 18.508kg -->
    <!-- base_Link -->
    <xacro:property name="base_mass" value="9.567"/>
    <xacro:property name="base_com_x" value="0.028223"/>
    <xacro:property name="base_com_y" value="0.004612"/>
    <xacro:property name="base_com_z" value="0.009378"/>
    <xacro:property name="base_ixx" value="0.136700555"/>
    <xacro:property name="base_ixy" value="-0.000114115"/>
    <xacro:property name="base_ixz" value="0.029870339"/>
    <xacro:property name="base_iyy" value="0.111197923"/>
    <xacro:property name="base_iyz" value="0.000177889"/>
    <xacro:property name="base_izz" value="0.098252391"/>

    <!-- abad_Link (left) -->
    <xacro:property name="abad_mass" value="1.56"/>
    <xacro:property name="abad_com_x" value="-0.067703"/>
    <xacro:property name="abad_com_y" value="0.044697"/>
    <xacro:property name="abad_com_z" value="0.000863"/>
    <xacro:property name="abad_ixx" value="0.001629229"/>
    <xacro:property name="abad_ixy" value="0.000403724"/>
    <xacro:property name="abad_ixz" value="-0.000022335"/>
    <xacro:property name="abad_iyy" value="0.002582247"/>
    <xacro:property name="abad_iyz" value="-0.000005974"/>
    <xacro:property name="abad_izz" value="0.002247738"/>

    <!-- hip_Link (left) -->
    <xacro:property name="hip_mass" value="2.388"/>
    <xacro:property name="hip_com_x" value="-0.031048"/>
    <xacro:property name="hip_com_y" value="-0.047035"/>
    <xacro:property name="hip_com_z" value="-0.04462"/>
    <xacro:property name="hip_ixx" value="0.020018453"/>
    <xacro:property name="hip_ixy" value="0.001830763"/>
    <xacro:property name="hip_ixz" value="-0.010975515"/>
    <xacro:property name="hip_iyy" value="0.026990319"/>
    <xacro:property name="hip_iyz" value="0.002516115"/>
    <xacro:property name="hip_izz" value="0.010518009"/>

    <!-- knee_Link (left) -->
    <xacro:property name="knee_mass" value="0.496"/>
    <xacro:property name="knee_com_x" value="0.05738"/>
    <xacro:property name="knee_com_y" value="0.00164"/>
    <xacro:property name="knee_com_z" value="-0.090403"/>
    <xacro:property name="knee_ixx" value="0.002548881"/>
    <xacro:property name="knee_ixy" value="-0.000002869"/>
    <xacro:property name="knee_ixz" value="0.001577485"/>
    <xacro:property name="knee_iyy" value="0.003635981"/>
    <xacro:property name="knee_iyz" value="0.000001051"/>
    <xacro:property name="knee_izz" value="0.001160832"/>

    <!-- foot_Link (left) -->
    <xacro:property name="foot_mass" value="0.197"/>
    <xacro:property name="foot_com_x" value="-0.001363"/>
    <xacro:property name="foot_com_y" value="-0.000005"/>
    <xacro:property name="foot_com_z" value="0.006305"/>
    <xacro:property name="foot_ixx" value="0.000106745"/>
    <xacro:property name="foot_ixy" value="-0.000000034"/>
    <xacro:property name="foot_ixz" value="0.000006479"/>
    <xacro:property name="foot_iyy" value="0.000109884"/>
    <xacro:property name="foot_iyz" value="-0.000000015"/>
    <xacro:property name="foot_izz" value="0.000081763"/>

    <!-- contact_Link (left) -->
    <xacro:property name="contact_mass" value="1e-6"/>
    <xacro:property name="contact_com_x" value="-6.4629E-05"/>
    <xacro:property name="contact_com_y" value="5.464E-05"/>
    <xacro:property name="contact_com_z" value="0.0011936"/>
    <xacro:property name="contact_ixx" value="1e-12"/>
    <xacro:property name="contact_ixy" value="0.0"/>
    <xacro:property name="contact_ixz" value="0.000004"/>
    <xacro:property name="contact_iyy" value="1e-12"/>
    <xacro:property name="contact_iyz" value="0.0"/>
    <xacro:property name="contact_izz" value="1e-12"/>

</robot>
